hoge
<!--
<div class="sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav in" id="side-menu">
            <li ui-sref-active="active">
                <a ui-sref="home"><i class="fa fa-dashboard fa-fw"></i>Dashboard</a>
            </li>
            <li ui-sref-active="active">
                <a><i class="fa fa-bar-chart-o fa-fw"></i>Charts</a>
            </li>
            <li>
                <a href="#" ng-click="check(1)"><i class="fa fa-database fa-fw"></i>Master Data<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: collapseVar==1}" collapse="collapseVar!=1">
                    <li ui-sref-active="active">
                        <a ui-sref="project"><i class="fa fa-diamond fa-fw"></i>Project</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="member"><i class="fa fa-users fa-fw"></i>Member</a>
                    </li>
                </ul>
            </li>
            <li has-role="ROLE_ADMIN">
                <a href="#" ng-click="check(2)"><i class="fa fa-desktop fa-fw"></i><span class="hidden-tablet" translate="global.menu.admin.main">Admin</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: collapseVar==2}" collapse="collapseVar!=2">
                    <li ui-sref-active="active">
                        <a ui-sref="metrics"><span class="glyphicon glyphicon-dashboard"></span><span translate="global.menu.admin.metrics">Metrics</span></a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="health"><span class="glyphicon glyphicon-heart"></span><span translate="global.menu.admin.health">Health</span></a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="configuration"><span class="glyphicon glyphicon-list-alt"></span><span translate="global.menu.admin.configuration">Configuration</span></a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="audits"><span class="glyphicon glyphicon-bell"></span><span translate="global.menu.admin.audits">Audits</span></a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="logs"><span class="glyphicon glyphicon-tasks"></span><span translate="global.menu.admin.logs">Logs</span></a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="docs"><span class="glyphicon glyphicon-book"></span><span translate="global.menu.admin.apidocs">API Docs</span></a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
-->
