.main-header .navbar {
    background-color: #00bcd4;
}

.navbar-top-links > li > a {
    color: #ffffff;
}
.navbar-top-links > li > a:hover,
.navbar-top-links > li > a:active,
.navbar-top-links > li > a:focus,
.main-header .navbar .nav .open > a,
.main-header .navbar .nav .open > a:hover,
.main-header .navbar .nav .open > a:focus {
    color: #f6f6f6;
    background: rgba(0, 0, 0, 0.1);
}

.sidebar a {
    color: #6f6f6f;
}
.sidebar li.active a,
.sidebar a:hover,
.sidebar a:active,
.sidebar a:focus {
    color: #333333;
    background: rgba(100, 100, 100, 0.1);
}

