$theme-color: #8CC152;

$font-family-sans-serif: "Helvetica Neue","Helvetica","Arial","Hiragino Kaku Gothic Pro","Meiryo","MS PGothic",sans-serif;
$gray-base: #000000;
$brand-primary: darken(#8CC152, 10%);
$brand-success: #8CC152;
$brand-info: darken(#3BAFDA, 10%);
$brand-warning: #F6BB42;
$brand-danger: #DA4453;

$text-color: lighten($gray-base, 40.0%);
$headings-color: lighten($gray-base, 13.5%);

//$body-bg: $base-color;
//
//$link-color: $accent-color;
//
//$btn-default-bg: $base-color;
//$btn-default-border: darken($base-color, 10%);
//$btn-primary-bg: $accent-color;
//$btn-primary-border: darken($accent-color, 10%);

$navbar-height: 40px;
$navbar-margin-bottom: 0;
$navbar-default-bg: $theme-color;
//$navbar-default-color: #ffffff;
//$navbar-defalut-link-color: #ffffff;
//$navbar-default-link-hover-color: $base-text-color - 60;
//$navbar-default-link-active-color: darken($base-text-color, 5%);
$navbar-default-link-hover-bg: darken($navbar-default-bg, 10%);
$navbar-default-link-active-bg: darken($navbar-default-bg, 10%);
$navbar-default-brand-color: #ffffff;

$dropdown-link-active-bg: darken($navbar-default-bg, 10%);

//$hr-border: darken($base-color, 10%);


// custom variables
$transition-all: all .3s ease-out 0s;
