<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-inner">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <span translate="global.title">majimena TEST</span> <span class="navbar-version">v{{VERSION}}</span>
                </a>
            </div>
            <div class="navbar-collapse">
                <ul class="nav navbar-nav navbar-right" ng-switch="isAuthenticated()">
                    <li ng-switch-when="true" class="dropdown pointer">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="">
                        <span>
                            <span class="glyphicon glyphicon-th-list"></span>
                            <span class="hidden-tablet" translate="global.menu.entities.main">Entities</span>
                            <b class="caret"></b>
                        </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li ui-sref-active="active">
                                <a ui-sref="project"><span class="glyphicon glyphicon-asterisk"></span>&#xA0;<span translate="global.menu.entities.project">project</span></a>
                            </li>
                            <!-- JHipster will add entities to the menu here -->
                        </ul>
                    </li>
                    <li ng-class="{active: $state.includes('account')}" class="dropdown pointer">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="">
                        <span>
                            <i class="fa fa-user fa-fw"></i>
                            <span class="hidden-tablet" translate="global.menu.account.main">Account</span>
                            <i class="fa fa-caret-down" style="margin-left:0.7em;"></i>
                        </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li ui-sref-active="active" ng-switch-when="true">
                                <a ui-sref="settings"><i class="fa fa-user fa-fw"></i><span translate="nav.menu.account.profile">User Profile</span></a>
                            </li>
                            <li ui-sref-active="active" ng-switch-when="true">
                                <a ui-sref="password"><i class="fa fa-lock fa-fw"></i><span translate="nav.menu.account.password">Password</span></a>
                            </li>
                            <li class="divider" ng-switch-when="true">
                            </li>
                            <li ui-sref-active="active" ng-switch-when="true">
                                <a href="" ng-click="logout()"><i class="fa fa-sign-out fa-fw"></i><span translate="nav.menu.account.logout">Log out</span></a>
                            </li>
                            <li ui-sref-active="active" ng-switch-when="false">
                                <a ui-sref="login"><i class="fa fa-sign-in fa-fw"></i><span translate="nav.menu.account.login">Log in</span></a>
                            </li>
                            <li ui-sref-active="active" ng-switch-when="false">
                                <a ui-sref="register"><i class="fa fa-user-plus fa-fw"></i><span translate="nav.menu.account.register">Register</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- sidebar custom directive -->
    <sidebar></sidebar>
</nav>
